.user-card{
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
}

.user-card img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.user-card button{
    padding: 10px 100px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}